<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RQ Timer</title>
</head>
<body>
<div style="font-family: Roboto, sans-serif; font-size: 18px">
    <h3>Привет, {{ username }}!</h3>
    <p>Вы получили это письмо, потому что только, что создали аккаунт в RQ Timer</p>
    <p>Ваш код подтверждения: <strong>{{ code }}</strong></p>
    <p>Ссылка где необходимо ввести код: <a href="{{ link }}">{{ link }}</a></p>

    <p>Если вы не создавали аккаунт в приложении RQ Timer, тогда просто проигнорируйте это письмо</p>
</div>
</body>
</html>

